<div class="create-blog-content" style="margin-top: 30px;">
    <div class="col-md-6">
        <form action="/blogs" method="POST">
            <label for="title">Blog Title</label>
            <input type="text" id="title" placeholder="Title" name="title" class="form-control"><br><br>
            <label for="title">Blog Snippet</label>
            <input type="text" id="snippet" placeholder="Snippet" name="snippet" class="form-control"><br><br>
            <label for="Body">Blog Snippet</label><br>
            <textarea name="body" id="body" cols="30" rows="10" class="form-control"></textarea><br>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>